<?xml version="1.0" encoding="utf-8"?>

<PackageConfiguration xmlns="http://www.siemens.com/automation/Openness/AddIn/Publisher/V20">
	
	<!-- This custom file is used to create the .addin file in /bin/[Debug|Release]/net48/<name>.[addin|dll|pdb] -->	
	
	<Author>cyanezf</Author>
	<Description>PLC-Framework Add-In for TIA Portal V20</Description>
	<AddInVersion>1.0.0.0</AddInVersion>
	
	<Product>
		<Name>PLC-Framework Add-In</Name>
		<Id>PLC-Framework.V20</Id>
		<Version>1.0.0.0</Version>
	</Product>

	<FeatureAssembly>
		<AssemblyInfo>
			<Assembly>PLC-Framework.V20.dll</Assembly>
		</AssemblyInfo>
	</FeatureAssembly>

	<!-- Add shared projects -->
	<AdditionalAssemblies>
		<AssemblyInfo>
			<Assembly>PLC-Framework.Core.dll</Assembly>
		</AssemblyInfo>

		<AssemblyInfo>
			<Assembly>PLC-Framework.AddIn.Shared.dll</Assembly>
		</AssemblyInfo>
	</AdditionalAssemblies>

	<RequiredPermissions>
		
		<TIAPermissions>
			<TIA.ReadWrite>
				<Comment>User reads and writes project data</Comment>
			</TIA.ReadWrite>
		</TIAPermissions>
		
		<SecurityPermissions>
			
			<Siemens.Engineering.AddIn.Permissions.ProcessStartPermission>
				<Comment>This Add-In launches the framework's satellite apps</Comment>
			</Siemens.Engineering.AddIn.Permissions.ProcessStartPermission>

			<System.Configuration.ConfigurationPermission/>
			
			<System.Data.Odbc.OdbcPermission/>
			<System.Data.OleDb.OleDbPermission/>
			<System.Data.SqlClient.SqlClientPermission/>
			
			<System.Diagnostics.EventLogPermission/>
			<System.Drawing.Printing.PrintingPermission/>

			<System.Net.Mail.SmtpPermission/>
			<System.Net.NetworkInformation.NetworkInformationPermission/>
			<System.Net.SocketPermission/>
			<System.Net.WebPermission/>

			<System.Security.Permissions.SecurityPermission.UnmanagedCode/>
			<System.Security.Permissions.FileDialogPermission/>
			<System.Security.Permissions.UIPermission/>
			<System.Security.Permissions.MediaPermission/>
			<System.Security.Permissions.KeyContainerPermission/>
			<System.Security.Permissions.WebBrowserPermission/>
			<System.Security.Permissions.StorePermission/>
			<System.Security.Permissions.FileIOPermission/>
			<System.Security.Permissions.IsolatedStorageFilePermission/>
			<System.Security.Permissions.RegistryPermission/>
			<System.Security.Permissions.EnvironmentPermission/>

		</SecurityPermissions>
		
	</RequiredPermissions>

</PackageConfiguration>
